
p
{
    font-family:Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.Model-text
{
   
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.79);
    margin-bottom: 15px;

}

.Touchless-txet
{
    text-decoration: underline;
}

.Touchless-text:hover 
{
    cursor: pointer;
}