p
{
    margin-top: 0px;
    margin-bottom: 0px;
    
}

@media (min-width: 1200.1px) 
{
    body {
      margin-left: 168px;
    }
}

body
{
    font-family: Roboto,Arial;
    height: 2000px;
    padding-top: 80px;
    margin: 0;
    padding-left: 100px;
    padding-right:24px;
    background-color: rgb(249, 249, 249);
}